altgraph==0.17.3
appdirs==1.4.4
asgiref==3.5.2
attrs==22.2.0
autocommand==2.2.2
build==0.10.0
CacheControl==0.12.11
cairocffi==1.4.0
certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
colorama==0.4.6
commonmark==0.9.1
cryptography==40.0.1
Cython==0.29.34
distlib==0.3.6
distro==1.8.0
dj-database-url==1.2.0
Django==4.1.7
docopt==0.6.2
docutils==0.19
exceptiongroup==1.1.1
execnet==1.9.0
fastjsonschema==2.16.3
flaky==3.7.0
future==0.18.2
greenlet==2.0.2
gunicorn==20.1.0
html2text==2020.1.16
idna==3.4
inflect==6.0.4
iniconfig==2.0.0
installer==0.7.0
jaraco.context==4.3.0
jaraco.functools==3.6.0
jaraco.text==3.11.1
joblib==1.2.0
keyutils==0.6
lxml==4.9.2
markdown-it-py==2.2.0
mdurl==0.1.2
more-itertools==9.1.0
msgpack==1.0.4
mutagen==1.45.1
neovim==0.3.1
nspektr==0.4.0
numpy==1.24.3
ordered-set==4.1.0
packaging==23.0
pandas==1.5.3
pep517==0.13.0
platformdirs==3.5.0
pluggy==1.0.0
ply==3.11
psutil==5.9.4
pybind11==2.10.4
pycparser==2.21
pycritty==0.4.0
pydantic==1.10.7
pygame==2.1.2
Pygments==2.14.0
PyGObject==3.44.1
pyinstaller==5.6.1
pyinstaller-hooks-contrib==2022.10
pynvim==0.4.3
pyOpenSSL==23.1.1
pyparsing==3.0.9
pyproject_hooks==1.0.0
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
pytest==7.3.1
pytest-rerunfailures==11.1.2
pytest-timeout==2.1.0
pytest-xdist==3.2.1
python-dateutil==2.8.2
PythonTurtle==0.3.2
pytz==2022.7.1
PyYAML==6.0
qtile==0.22.1
ranger-fm==1.9.3
requests==2.28.2
resolvelib==0.9.0
rich==13.3.3
scikit-learn==1.2.2
scipy==1.10.1
six==1.16.0
sklearn==0.0.post1
somepackage==1.2.3
sqlparse==0.4.3
TBB==0.2
team==1.0
tenacity==8.2.2
threadpoolctl==3.1.0
tinyaes==1.0.4
tomli==2.0.1
trove-classifiers==2023.4.20
typing_extensions==4.5.0
uc-micro-py==1.0.1
udiskie==2.4.2
unicorn==2.0.1.post1
urllib3==1.26.13
validate-pyproject==0.12.2.post1.dev0+g2940279.d20230328
webencodings==0.5.1
whitenoise==6.4.0
xcffib==1.2.0
