<!DOCTYPE html>
<html lang="en">
<head>
    <!-- {% load static %} -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <title> Sitio Web De Kodak </title>
</head>
<body id="inicio">
    <nav id="navegacion">
        <h1> KODAK </h1>
    </nav>
    <div class="titulo"> FODA </div>
    <section id="foda">
        <div class="caja c1">
            <ul class="atributos">
                <li>tiene renombre en el mercado</li>
                <li>gran base economica</li>
                <li>buena capacidad de procuccion</li>
            </ul>
            <p> Fortalezas </p>
        </div>
        <div class="caja c2">
            <ul class="atributos">
                <li>Inversiones</li>
                <li>Se desarrolla un producto innovador</li>
                <li>se financian capacitaciones</li>
            </ul>
            <p> Oportunidades </p>
        </div>
        <div class="caja c3">
            <ul class="atributos">
                <li>cultura conservadora</li>
                <li>entregas a largo plazo</li>
                <li>se realizan malos analisis</li>
            </ul>
            <p> Debilidades </p>
        </div>
        <div class="caja c4">
            <ul class="atributos">
                <li>quedar fuera del mercado</li>
                <li>rechazo al cambio</li>
                <li></li>
            </ul>
            <p> Amenazas </p>
        </div>
    </section>
    <div class="titulo"> Estrategias </div>
    <section id="estrategias">
        <div class="estrategia fo">
            <p class="nombre-estrategia">FO</p>
            <ul>
                <li>Teniendo en cuenta que la empresa tiene un lugar en el mercado se va a poder lograr que se invierta/financie la investigación sobre un nuevo producto o la mejora de uno anterior.</li>
                <li>Gracias a la capacidad de producción y desarrollo de la empresa se puede llegar a desarrollar un producto innovador en un aspecto, por ejemplo la calidad con la que toma fotografías, el cual dé un impulso a la marca.</li>
                <li>La base económica de la empresa nos va a permitir la financiación de diversas capacitaciones que van a servir para ir introduciendo al cambio a los empleados.</li>
            </ul>
        </div>
        <div class="estrategia fa">
            <p class="nombre-estrategia">FA</p>
            <ul>
                <li>Con la capacidad de producción y desarrollo que posee Kodak y con la base económica que tenemos se pueden financiar investigaciones para evitar quedarnos atrás en el mercado.</li>
                <li>Para la resistencia al cambio que va a ocurrir vamos a realizar charlas financiadas para acompañar a los que atraviesan esta etapa y poder ayudarlos a salir de ahí.</li>
            </ul>
        </div>
        <div class="estrategia do">
            <p class="nombre-estrategia">DO</p>
            <ul>
                <li>Para solucionar los problemas de análisis, la cultura conservadora y la metodología poco ágil es necesario que se instruya y convenza a las partes de la empresa. Esto se puede lograr mediante las capacitaciones para agilizar la metodología y los análisis que se realizan, la cultura llevaría más tiempo ya que la estrategia con la que se aplica es de imposición y la forma de arreglar esto es mostrar beneficios que va a traer esta implementación y con eso despertar deseo.</li>
            </ul>
        </div>
        <div class="estrategia da">
            <p class="nombre-estrategia">DA</p>
            <ul>
                <li>Para evitar quedarnos afuera del mercado debemos cambiar la metodología de trabajo de la empresa a una más ágil para, de esta forma, estar siempre en el mercado.</li>
                <li>Nuestra cultura conservadora va a provocar resistencia al cambio por lo cual debemos guiarnos hacia una nueva cultura que sea más resiliente mediante varios procesos (cursos, actividades, etc).</li>
            </ul>
        </div>
    </section>
    <!-- Pie -->
    <footer>
        <p> derechos de autor de 1888 - 2023 @ </p>
        <p> "You Press the Button, We Do the Rest" </p>
    </footer>
</body>
</html>